<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Cadastro do usuário</h2>
    <form action="POST">
        <label>Nome: </label><br>
        <input type="text" name="nome"><br><br>
         <label>Jogo escolhido: </label><br>
         <select name="jogo">
         <option value="">Selecione...</option>
         <option value="Devil May Cry">Devil May Cry</option>
         <option value="Minecraft">Minecraft</option>
         <option value="UFC 6">UFC 6</option>
         </select><br><br>

        <label>Email: </label><br>
        <input type="text" name="email"><br><br>
        <button type="submit">Cadastrar</button>
    </form>
    <p>{{ mensagem }}</p>
</body>
</html>