<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <title>Document</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
        <div class="container">
            <a class="navbar-brand fw-bold" href="/">🍔 FoodExpress</a>
            <div class="navbar-nav ms-auto flex-row gap-3">
                <a class="nav-link text-white" href="/">Início</a>
                <a class="nav-link text-white" href="/cardapio">Cardápio</a>
                <a class="nav-link text-white" href="/pedidos">Pedidos</a>
                <a class="nav-link text-white" href="/contato">Contato</a>
            </div>
        </div>
    </nav>

    <div class="container mt-4">
        <div class="alert alert-warning text-center fw-bold" role="alert">
            🔥 Frete grátis acima de R$ 50!
        </div>
    </div>

    <div class="container my-4">
        <div class="row g-2 text-center">
            <div class="col-4">
                <img src="{{ url_for('static', filename='imagens/banner1.jpg') }}" class="img-fluid rounded" alt="Banner 1">
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='imagens/banner2.jpg') }}" class="img-fluid rounded" alt="Banner 2">
            </div>
            <div class="col-4">
                <img src="{{ url_for('static', filename='imagens/banner3.jpg') }}" class="img-fluid rounded" alt="Banner 3">
            </div>
        </div>
    </div>

    <div class="container text-center my-5">
        <h1 class="display-5 fw-bold">FoodExpress</h1>
        <p class="lead">O lanche mais rápido e saboroso da cidade!</p>
        
        <div class="mt-4">
            <a href="/cardapio" class="btn btn-danger btn-lg me-2">Ver Cardápio</a>
            <a href="/pedidos" class="btn btn-secondary btn-lg">Meus Pedidos</a>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>